*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.actions{
    display: flex;
    justify-content: end;
}

.actions ul{
    display: flex;
}

.actions li{
    margin: 1rem;
    list-style: none;
}

.actions a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer{
    position: absolute;
    bottom: 0;   
    width: 100%;
    background-color: rgb(81, 40, 40);
}

.pais{
    padding: 1rem 2rem;
}
.pais p{
    font-size: 1.1rem;
}   

.last-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list{
    list-style: none;
    margin: 1rem;
    display: flex;
}

.list li{
    margin: 0 1rem;
}


