*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.actions{
    display: flex;
    justify-content: end;
}

.actions ul{
    display: flex;
}

.actions li{
    margin: 1rem;
    list-style: none;
}

.actions a{
    text-decoration: none;
    color: black;
}

.actions img{
    height: 20px;
}

.img{
    display: flex;
    justify-content: center;
}
.img-google{
    margin: 17px 22px;
    height: 7rem;
}

.search-bar{
    resize: none;
    height: 2rem;
    background: #ffffff00;
    border: none;
}

.search-area{
    display: flex; 
    height: 50px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    width: 50%;
    border-radius: 50px;
    align-items: center;
}
.mid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.bar-image{
    display: flex;
    align-items: center;
    padding: 0 13px 0 14px;
    height: 100%;
}
.glass-search{
    height: 20px;
}



.img-voice, .img-search{
    height: 24px;
}


button{
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
}

.buttons{
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

footer{
    position: absolute;
    bottom: 0;   
    width: 100%;
    background-color: white;
}

.pais{
    padding: 1rem 2rem;
}
.pais p{
    font-size: 1.1rem;
}   

.last-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list{
    list-style: none;
    margin: 1rem;
    display: flex;
}

.list li{
    margin: 0 1rem;
}


